<!DOCTYPE html>
<html>
<head>
    <title>Book Bus</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="navbar">
    <h2>Book Bus</h2>
    <a href="/buses" class="back-btn">Back</a>
</div>

<div class="center-box">
    <h2>{{ bus.name }}</h2>
    <p>{{ bus.source }} ➜ {{ bus.destination }}</p>

    <form method="POST">
        <input type="number" name="seats" min="1" max="{{ bus.seats }}" placeholder="Number of seats" required>

        <button class="btn-primary" type="submit">Confirm Booking</button>
    </form>
</div>

</body>
</html>
