<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="auth-body">

<div class="auth-card">
    <h2>Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit" class="btn-primary">Login</button>

        <p class="auth-link">
            Don't have an account?
            <a href="/register">Register</a>
        </p>
    </form>
</div>

</body>
</html>
